<div class="col-md-8 offset-md-2 jumbotron">
    <form method="POST" action="/admin/NewPost">
        <input type="text" class="form-control" placeholder="Title" name="title" />
        <br />
        <textarea name="text" placeholder="Type your blog here..." class="form-control" rows="20"></textarea>
        <br />
        <button class="btn btn-primary">Submit</button>
    </form>
</div>